*
!contact-lambda/Cargo.toml
!contact-lambda/Cargo.lock
!contact-lambda/src
!emsdk/
emsdk/downloads
emsdk/node
emsdk/upstream
emsdk/.emscripten*
!raygui/
!raylib/
!site/
site/.svelte-kit
site/node_modules
site/build
!zig
!build*.zig
!build.zig.zon
!raylib_config.zig
!.git
!.gitmodules
!Makefile
!setup-build.sh