@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea,
button,
select,
a {
	-webkit-tap-highlight-color: transparent;
}

@keyframes BackgroundAnimation {
  to {
    filter: hue-rotate(360deg);
  }
}

* {
  scrollbar-color: black transparent;
}

:root {
  --Rainbow: hsl(50, 30%, 50%);

  animation: BackgroundAnimation 17s linear infinite;
}

html {
  background-color: var(--Rainbow);
}

/* 
* {
	@apply text-black-mid;
}
*/